.all{
  width: 100%;
  height: 100%;

  z-index: -10;
}
.jz_top{
  height: 100px;
}
.jz_weather_top{
    color: #fff;
    font-size: 16px;
}
.jz_weather_content{
  width: 100%;

}
.img_all{
  background-image: url('../img/title.png');
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  margin-top: 10px;
  /*background-color: #114378;*/
}
.jz_left,.jz_right{
  width: 100%;
  height: 310px;

}
.jz_right,.jz_left{
  background: rgba(11,26,73,.9);
  background-image: url(../img/left.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: content-box;
  /*border-left: 10px #01FFFF solid;
  border-right: 10px #01FFFF solid;
    box-shadow: 0 0 8px rgba(1,255,255,0.8);*/
}
.jz_right>span,.jz_left>span{
  color: #00FFFF;
  font-size: 14px;
  padding-left: 18px;
  padding-top: 4px;
      display: block;
}

.jz_right>span::before,.jz_left>span::before{
  content: '';
 display: inline-block;
 background: url("../img/top.png") center center no-repeat;
 background-size: contain;
 width: 12px;
 height: 14px;
 margin: 0px 8px -2px 0;

}

.jz_left_top{
  width: 100%;
  height: 260px;
  margin-bottom: 20px;
}
.jz_left3_top{
  width: 100%;
  height: 220px;

}
.jz_left3_top2{
  width: 90%;
height: 54px;
line-height: 54px;
margin-left: 5%;
color: #fff;
font-size: 14px;
  background: -webkit-linear-gradient(left,rgba(132,82,255,0.8), rgba(192,29,255,0.8)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, rgba(132,82,255,0.8), rgba(192,29,255,0.8)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right,rgba(132,82,255,0.8), rgba(192,29,255,0.8)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right,rgba(132,82,255,0.8), rgba(192,29,255,0.8)); /* 标准的语法（必须放在最后） */

}
.jz_left3_top2 span{

}
.jz_left3_top2 span:nth-child(1){
  padding-left: 10px;

}
.jz_left3_top2 span:nth-child(2){
  padding-left: 100px;
}
.jz_left2,.jz_left3,.jz_right2,.jz_right3{
  margin-top: 20px;
}
.jz_middle{
  width: 100%;
}
.jz_middle_top1{
    width: 100%;
  height: 640px;

}
.jz_middle_top2{
  margin-top: 20px;
  height: 310px;
  width: 100%;
  overflow: hidden;
}
.js_middle_top_left,.js_middle_top_right{
  width:49%;
  float: left;

  height: 310px;
}

.js_middle_top_all{
  background: rgba(11,26,73,.9);
  background-image: url(../img/right.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: content-box;
  /*border-left: 10px #01FFFF solid;
  border-right: 10px #01FFFF solid;
    box-shadow: 0 0 8px rgba(1,255,255,0.8);*/
}
.js_middle_top_all>span{
  color: #00FFFF;
  font-size: 14px;
  padding-left: 30px;
  padding-top: 4px;
      display: block;
}

.js_middle_top_all>span::before{
  content: '';
 display: inline-block;
 background: url("../img/top.png") center center no-repeat;
 background-size: contain;
 width: 12px;
 height: 14px;
 margin: 0px 8px -2px 0;
}

.js_middle_top_right{
  margin-left: 2%;

}
.jz_top,.jz{
  overflow: hidden;
}
.jz_weather,.jz_left_all,.jz_weather_right,.jz_right_all{
  width: 20%;
  float: left;
}
.jz_middle_all{
  width: 58%;
  float: left;
  margin:0 1%;
}
.js_middle_top_left{
  overflow: hidden;
}
.jz_top4_left{
  width: 33%;
  height: 160px;
    float: left;
}
.jz_top4_left1{
    margin-left: 0px;
}
.jz_top4_left2{
    margin-left: 0px;
}
.jz_top4_left3{
    margin-left: 0px;
}
/**/
.slide-title{

color: #fff;
height: 40px;
line-height: 40px;
padding: 0 10px;
font-size: 14px;
font-weight: bold;
}
.slide-title span{
    float: left;

    color: ff7800;
    margin-right: 14px;
}
.slide-title span:nth-child(1),
.slide-list li span:nth-child(1){
    text-align: center;
    width: 200px;
}
.slide-title span:nth-child(2),
.slide-list li span:nth-child(2){
    text-align: center;
    width: 70px;
}
.slide-title span:nth-child(3),
.slide-list li span:nth-child(3){
  text-align: center;
    width: 80px;

}
.slide-title span:nth-child(4),
.slide-list li span:nth-child(4){
    text-align: center;
    width: 80px;

}
.slide-title span:nth-child(5),
.slide-list li span:nth-child(5){
    text-align: center;
    /*width: 90px;*/

}
.slide-title span:nth-child(6),
.slide-list li span:nth-child(6){
    text-align: center;
    /*width: 90px;*/
    margin-right: 0px;
}
.slide-container1{
  position: relative;
  overflow: hidden;
  height: 40px;
  top: 0;
  right: 0;
  color: #007bff;
  font-size: 12px;
}
.slide-container1 ul li span{

  color: red;
  font-size: 12px;
}
.slide-container{
  position: relative;
  overflow: hidden;
  height: 190px;
  top: 0;
  right: 0;
  color: #007bff;
  font-size: 12px;
}
.slide-list{
  position:absolute;
  width:100%;
  left:0;
  top:0;
  color: #007bff;
  margin:0;
  padding:0;
}

.slide-list li {
  height:40px;
  line-height:40px;
  list-style:none;
  margin:0;
  padding:0 10px;
}
.slide-list li span {
  display:inline-block;
  margin-right:14px;
  font-size:16px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
 .slide-list li.odd{
    background: rgba(51,79,109,.3);
}
.slide-list li.even{
    background: rgba(51,79,109,.1);
}
.jz_right3_all{
  overflow: hidden;
}
.jz_right3_all li{
  list-style:none;
  margin-bottom: 1%;
  float: left;
  width: 32%;
  height: 70px;
  /*padding-top: 20px;*/
  padding-top: 16px;
}
.jz_right3_all li span{
  display:block;
  text-align: center;
  color: #fff;

}
.jz_right3_all li span:nth-child(1){
  font-size: 14px;
}
.jz_right3_all li span:nth-child(2){
  font-size: 18px;
}
.jz_right3_all li:nth-child(1),.jz_right3_all li:nth-child(4){
  background: -webkit-linear-gradient(left,rgba(0,215,252,0.8), rgba(1,115,197,0.8)); /* Safari 5.1 - 6.0 */
   background: -o-linear-gradient(right, rgba(0,215,252,0.8), rgba(1,115,197,0.8)); /* Opera 11.1 - 12.0 */
   background: -moz-linear-gradient(right,rgba(0,215,252,0.8), rgba(1,115,197,0.8)); /* Firefox 3.6 - 15 */
   background: linear-gradient(to right,rgba(0,215,252,0.8), rgba(1,115,197,0.8)); /* 标准的语法（必须放在最后） */

}
.jz_right3_all li:nth-child(2),.jz_right3_all li:nth-child(5){
  margin-left: 1%;
  background: -webkit-linear-gradient(left,rgba(70,133,255,0.8), rgba(98,105,255,0.8)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, rgba(70,133,255,0.8), rgba(98,105,255,0.8)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right,rgba(70,133,255,0.8), rgba(98,105,255,0.8)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right,rgba(70,133,255,0.8), rgba(98,105,255,0.8)); /* 标准的语法（必须放在最后） */

}
.jz_right3_all li:nth-child(3),.jz_right3_all li:nth-child(6){
  margin-left: 1%;
  background: -webkit-linear-gradient(left,rgba(133,82,255,0.8), rgba(192,29,255,0.8)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, rgba(133,82,255,0.8), rgba(192,29,255,0.8)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right,rgba(133,82,255,0.8), rgba(192,29,255,0.8)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right,rgba(133,82,255,0.8), rgba(192,29,255,0.8)); /* 标准的语法（必须放在最后） */

}

.jz_right3_all li:nth-child(4){

}
.jz_right3_all li:nth-child(5){

}
.jz_right3_all li:nth-child(6){

}
.jz_right3_all{
  width: 90%;

  padding: 0px;
  margin: 10px 5% 0px 5%;
}
.jz_right3_foot{
    width: 90%;
  overflow: hidden;
    margin: 0px 5% 0px 5%;
    height: 120px;
}
.jz_right3_foot1{
  width: 32%;
  float: left;
  height: 116px;
}
.jz_right3_foot2{
  width: 68%;
    float: left;

  height: 116px;
}
.jz_right3_foot1{
  padding-top: 10px;
}
.jz_right3_foot1 span{
  display: block;
  text-align: center;

}
.jz_right3_foot1 span:nth-child(1),.jz_right3_foot1 span:nth-child(3){
color: #fff;
}
.jz_right3_foot1 span:nth-child(2),.jz_right3_foot1 span:nth-child(4){
color: #C05F19;
}
.top3_center_tu{
  width: 100%;
  height: 116px;
}
.js_middle_top_left_all{
  width: 80%;
  margin-left: 10%;
}
.js_middle_top_foot ul{
  list-style: none;
  width: 100%;
  overflow: hidden;

}
.js_middle_top_foot ul li{
  width:22%;
  height: 100px;
  margin: 10px 2% 0 0;
  background-color: red;
  float: left;
  padding-top: 28px;

}
.js_middle_top_foot ul li:nth-child(1),.js_middle_top_foot ul li:nth-child(2){
  background: #0090FF;

}
.js_middle_top_foot ul li:nth-child(3),.js_middle_top_foot ul li:nth-child(4){
  background:#E74C3C;

}

.js_middle_top_foot ul li span{
  display: block;
  text-align: center;
  color: #fff;


}
.js_middle_top_foot ul li span:nth-child(1){
  font-size: 14px;


}
.js_middle_top_foot ul li span:nth-child(2){
  font-size: 16px;


}
