.all{
  width: 100%;
  height: 100%;

  /*z-index: -10!important;*/
}
.BMap_pop>div:nth-child(1)>div{
    border-radius: 10px 0 0 0;
    background: #101535!important;
  }
  .BMap_pop>div:nth-child(1)>div>div{
    border:none!important;
  }
  .BMap_pop>div{

      background: #101535!important;
  }
  .BMap_pop>div:nth-child(3)>div{
    border-radius: 0  10px 0 0;
      background: #101535!important;
  }
  .BMap_pop>div:nth-child(5)>div{
    border-radius: 0 0 0 10px;
      background: #101535!important;
  }
  .BMap_pop>div:nth-child(7)>div{
    border-radius: 0 0 10px 0;
      background: #101535!important;

  }
  .BMap_pop>div:nth-child(8){
    display: none;

  }
  .infor_all,.shop_all,.salesman_all{
    color: #fff!important;
  }
.jz_top{
  height: 100px;
}
.jz_weather_top{
    color: #fff;
    font-size: 16px;
}
.jz_weather_content{
  width: 100%;

}
.img_all{
  background-image: url('../img/title.png');
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  margin-top: 10px;
  /*background-color: #114378;*/
}
.jz_left,.jz_right{
  width: 100%;
  height: 310px;

}
.jz_right,.jz_left{
  background: rgba(11,26,73,.9);
  background-image: url(../img/left.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: content-box;
  box-shadow: -webkit-box-shadow:0 0 15px rgba(7,221,255,.36);
-moz-box-shadow:0 0 15px rgba(7,221,255,.36);
box-shadow:0 0 15px rgba(7,221,255,.36);
  /*border-left: 10px #01FFFF solid;
  border-right: 10px #01FFFF solid;
    box-shadow: 0 0 8px rgba(1,255,255,0.8);*/
}
.jz_right>span,.jz_left>span{
  color: #00FFFF;
  font-size: 14px;
  padding-left: 18px;
  padding-top: 4px;
      display: block;
}

.jz_right>span::before,.jz_left>span::before{
  content: '';
 display: inline-block;
 background: url("../img/top.png") center center no-repeat;
 background-size: contain;
 width: 12px;
 height: 14px;
 margin: 0px 8px -2px 0;

}

.jz_right>span::after,.jz_left>span::after{
  content: '';
  display: inline-block;
  background: url(../img/magnify.png) center center no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  margin: -18px 0px 0px 326px;

}

.jz_left_top1{
  width: 100%;
  height: 220px;
  margin-bottom: 0px;
}
.jz_left_top{
  width: 100%;
  height: 300px;
  margin-bottom: 0px;
}
.jz_left3_top{
  width: 100%;
  height: 220px;

}
.jz_left3_top2{
  width: 90%;
height: 54px;
line-height: 54px;
margin-left: 5%;
color: #fff;
font-size: 14px;
  background: -webkit-linear-gradient(left,rgba(132,82,255,0.8), rgba(192,29,255,0.8)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, rgba(132,82,255,0.8), rgba(192,29,255,0.8)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right,rgba(132,82,255,0.8), rgba(192,29,255,0.8)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right,rgba(132,82,255,0.8), rgba(192,29,255,0.8)); /* 标准的语法（必须放在最后） */

}
.jz_left3_top2 span{

}
.jz_left3_top2 span:nth-child(1){
  padding-left: 10px;

}
.jz_left3_top2 span:nth-child(2){
  padding-left: 100px;
}
.jz_left2,.jz_left3,.jz_right2,.jz_right3{
  margin-top: 20px;
}
.jz_middle{
  width: 100%;
}
.jz_middle_top1{
  position: relative;
    width: 100%;
  height: 640px;

}
.jz_middle_top2{
  margin-top: 20px;
  height: 310px;
  width: 100%;
  overflow: hidden;
}
.js_middle_top_left,.js_middle_top_right{
  width:49%;
  float: left;

  height: 310px;
}

.js_middle_top_all{
  background: rgba(11,26,73,.9);
  background-image: url(../img/right.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: content-box;
  box-shadow: -webkit-box-shadow:0 0 15px rgba(7,221,255,.36);
-moz-box-shadow:0 0 15px rgba(7,221,255,.36);
box-shadow:0 0 15px rgba(7,221,255,.36);
  /*border-left: 10px #01FFFF solid;
  border-right: 10px #01FFFF solid;
    box-shadow: 0 0 8px rgba(1,255,255,0.8);*/
}
.js_middle_top_all>span{
  color: #00FFFF;
  font-size: 14px;
  padding-left: 30px;
  padding-top: 4px;
      display: block;
}

.js_middle_top_all>span::before{
  content: '';
 display: inline-block;
 background: url("../img/top.png") center center no-repeat;
 background-size: contain;
 width: 12px;
 height: 14px;
 margin: 0px 8px -2px 0;
}
.js_middle_top_all>span::after{
  content: '';
  display: inline-block;
  background: url(../img/magnify.png) center center no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  margin: -18px 0px 0px 92%;

}
.js_middle_top_right{
  margin-left: 2%;

}
.jz_top,.jz{
  overflow: hidden;
}
.jz_weather,.jz_left_all,.jz_weather_right,.jz_right_all{
  width: 20%;
  float: left;
}
.jz_middle_all{
  width: 58%;
  float: left;
  margin:0 1%;
}
.js_middle_top_left{
  overflow: hidden;
}
.jz_top4_left{
  width: 33%;
  height: 160px;
    float: left;
}
.jz_top4_left1{
    margin-left: 0px;
}
.jz_top4_left2{
    margin-left: 0px;
}
.jz_top4_left3{
    margin-left: 0px;
}
/*滚动开始*/
.slide-title{

color: #fff;
height: 40px;
line-height: 40px;
padding: 0 10px;
font-size: 14px;
font-weight: bold;
}
.slide-title span{
    float: left;

    color: ff7800;
    margin-right: 14px;
}
.slide-title span:nth-child(1),
.slide-list li span:nth-child(1){
    text-align: center;
    width: 200px;
}
.slide-title span:nth-child(2),
.slide-list li span:nth-child(2){
    text-align: center;
    width: 70px;
}
.slide-title span:nth-child(3),
.slide-list li span:nth-child(3){
  text-align: center;
    width: 80px;

}
.slide-title span:nth-child(4),
.slide-list li span:nth-child(4){
    text-align: center;
    width: 80px;

}
.slide-title span:nth-child(5),
.slide-list li span:nth-child(5){
    text-align: center;
    /*width: 90px;*/

}
.slide-title span:nth-child(6),
.slide-list li span:nth-child(6){
    text-align: center;
    /*width: 90px;*/
    margin-right: 0px;
}
/*表格滚动*/
.slide-container{
  position: relative;
  overflow: hidden;
  height: 190px;
  top: 0;
  right: 0;
  color: #007bff;
  font-size: 12px;
}
.slide-list{
  position:absolute;
  width:100%;
  left:0;
  top:0;
  color: #007bff;
  margin:0;
  padding:0;
}

.slide-list li {
  height:40px;
  line-height:40px;
  list-style:none;
  margin:0;
  padding:0 10px;
}
.slide-list li span {
  display:inline-block;
  margin-right:14px;
  font-size:16px;
    font-size: 12px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
 .slide-list li.odd{
    background: rgba(51,79,109,.3);
}
.slide-list li.even{
    background: rgba(51,79,109,.1);
}
/*表格滚动*/
.slide-title span:nth-child(1),
.slide-list li span:nth-child(1){
    text-align: center;
    width: 200px;
}
.slide-title span:nth-child(2),
.slide-list li span:nth-child(2){
    text-align: center;
    width: 70px;
}
.slide-title span:nth-child(3),
.slide-list li span:nth-child(3){
  text-align: center;
    width: 80px;

}
.slide-title span:nth-child(4),
.slide-list li span:nth-child(4){
    text-align: center;
    width: 80px;

}
.slide-title span:nth-child(5),
.slide-list li span:nth-child(5){
    text-align: center;
    /*width: 90px;*/

}
.slide-title span:nth-child(6),
.slide-list li span:nth-child(6){
    text-align: center;
    /*width: 90px;*/
    margin-right: 0px;
}
/*表格滚动*/
.slide-container_top{
  position: relative;
  overflow: hidden;
  height: 40px;
  top: 0;
  right: 0;
  color: #007bff;
  font-size: 12px;
}
.js-slide-list_top li span{
  color: red;
  font-size: 12px;
}
.js-slide-list_top li span:nth-child(1)::before{
  content: '';
    display: inline-block;
    background: url("../img/stop.png") center center no-repeat;
    background-size: contain;
    width: 14px;
    height: 18px;
    margin: 0 5px -4px 0;
}

.jz_right3_all{
  overflow: hidden;
}
.jz_right3_all li{
  list-style:none;
  margin-bottom: 1%;
  float: left;
  width: 32%;
  height: 70px;
  /*padding-top: 20px;*/
  padding-top: 16px;
}
.jz_right3_all li span{
  display:block;
  text-align: center;
  color: #fff;

}
.jz_right3_all li span:nth-child(1){
  font-size: 14px;
}
.jz_right3_all li span:nth-child(2){
  font-size: 18px;
}
.jz_right3_all li:nth-child(1),.jz_right3_all li:nth-child(4){
  background: -webkit-linear-gradient(left,rgba(0,215,252,0.8), rgba(1,115,197,0.8)); /* Safari 5.1 - 6.0 */
   background: -o-linear-gradient(right, rgba(0,215,252,0.8), rgba(1,115,197,0.8)); /* Opera 11.1 - 12.0 */
   background: -moz-linear-gradient(right,rgba(0,215,252,0.8), rgba(1,115,197,0.8)); /* Firefox 3.6 - 15 */
   background: linear-gradient(to right,rgba(0,215,252,0.8), rgba(1,115,197,0.8)); /* 标准的语法（必须放在最后） */

}
.jz_right3_all li:nth-child(2),.jz_right3_all li:nth-child(5){
  margin-left: 1%;
  background: -webkit-linear-gradient(left,rgba(70,133,255,0.8), rgba(98,105,255,0.8)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, rgba(70,133,255,0.8), rgba(98,105,255,0.8)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right,rgba(70,133,255,0.8), rgba(98,105,255,0.8)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right,rgba(70,133,255,0.8), rgba(98,105,255,0.8)); /* 标准的语法（必须放在最后） */

}
.jz_right3_all li:nth-child(3),.jz_right3_all li:nth-child(6){
  margin-left: 1%;
  background: -webkit-linear-gradient(left,rgba(133,82,255,0.8), rgba(192,29,255,0.8)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, rgba(133,82,255,0.8), rgba(192,29,255,0.8)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right,rgba(133,82,255,0.8), rgba(192,29,255,0.8)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right,rgba(133,82,255,0.8), rgba(192,29,255,0.8)); /* 标准的语法（必须放在最后） */

}

.jz_right3_all li:nth-child(4){

}
.jz_right3_all li:nth-child(5){

}
.jz_right3_all li:nth-child(6){

}
.jz_right3_all{
  width: 90%;

  padding: 0px;
  margin: 10px 5% 0px 5%;
}
.jz_right3_foot{
    width: 90%;
  overflow: hidden;
    margin: 0px 5% 0px 5%;
    height: 120px;
}
.jz_right3_foot1{
  width: 32%;
  float: left;
  height: 116px;
}
.jz_right3_foot2{
  width: 68%;
    float: left;

  height: 116px;
}
.jz_right3_foot1{
  padding-top: 10px;
}
.jz_right3_foot1 span{
  display: block;
  text-align: center;

}
.jz_right3_foot1 span:nth-child(1),.jz_right3_foot1 span:nth-child(3){
color: #fff;
}
.jz_right3_foot1 span:nth-child(2),.jz_right3_foot1 span:nth-child(4){
color: #C05F19;
}
.top3_center_tu{
  width: 100%;
  height: 116px;
}
.js_middle_top_left_all{
  width: 80%;
  margin-left: 10%;
}
.js_middle_top_foot ul{
  list-style: none;
  width: 100%;
  overflow: hidden;

}
.js_middle_top_foot ul li{
  width: 22%;
    height: 74px;
    margin: 10px 2% 0 0;
    background-color: red;
    float: left;
    padding-top: 16px;

}
.js_middle_top_foot ul li:nth-child(1),.js_middle_top_foot ul li:nth-child(2){
  background: #0090FF;

}
.js_middle_top_foot ul li:nth-child(3),.js_middle_top_foot ul li:nth-child(4){
  background:#E74C3C;

}

.js_middle_top_foot ul li span{
  display: block;
  text-align: center;
  color: #fff;


}
.js_middle_top_foot ul li span:nth-child(1){
  font-size: 14px;


}
.js_middle_top_foot ul li span:nth-child(2){
  font-size: 16px;


}
.am-popup{
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  margin-left: 0px;
  margin-top: 0px;
}
.jz_right2_all{
  width: 100%;
  overflow: hidden;
  padding-top: 10px;

}
.jz_right2_all>div{
  width: 50%;
  float: left;

}
.jz_right2_all div:nth-child(1),.jz_right2_all div:nth-child(3){
    padding: 0px 5px 0 10px;
}

.jz_right2_all div:nth-child(2),.jz_right2_all div:nth-child(4){
      padding: 0px 10px 0 5px;
}

iframe{
  width: 100%;
  height: 130px;
}
object {
    width: 100%;
    height: 130px;
}
.am-u-sm-12 .am-u-md-6 .am-u-lg-6{
  margin: 0px;
  padding: 0px!important;
}
.allmap_sum{
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 10;
  color: #01EFF2;
}
ul{
  padding: 0px;
  margin: 0px;
}
.allmap_sum ul li{
  list-style: none;
  display: inline;
  padding: 10px;
  margin: 0px;
  font-size: 30px;
  color:#01EFF2
  background-color: #D2D64;
}
.allmap_sum span{
  display: block;
}
#windowss_api,#windowss{
  width: 100%;
  height: 130px;
}
video{
  width: 100px!important;
  height: 100px!important;
}
.t_num img{
  width: 50px;
  margin:4px;
  background: #0d2d63;
}
.allmap_sum span:nth-child(1){
  /*width: 80px;
  background: rgba(13, 45, 99, 0.5);*/
}
body {
     overflow-x : hidden;
     overflow-y : hidden;
}
iframe{
  overflow: hidden!important;
}
html { overflow: auto!important; }
.anchorBL{
  display: none;
}
 .BMap_cpyCtrl{
   display: none;
 }
 /*情报站样式*/
 .infor_all,.shop_all,.salesman_all{
   width: 300px;
    height: auto;
 }
.infor_peopel span,.shop_all span,.salesman_all span{
  display: block;

}

.infor_peopel img,.shop_all img{
  width:100%;
  height: 150px;
}
.infor_img{
  display: block;
  width: 100%;
  height: 150px;
  background-size: cover!important;
  background-repeat: no-repeat!important;
  background-origin: content-box!important;
}
.salesman_all>.am-table{
  font-size: 16px!important;
}
.salesman_all_container{
  position: relative;
  overflow: hidden;
  height: 190px;
  top: 0;
  right: 0;
  color: #007bff;
  font-size: 12px;
  margin-top: 20px;
}
.salesman-list{
  position:absolute;
  width:100%;
  left:0;
  top:0;
  color: #007bff;
  margin:0;
  padding:0;
}

/*表格*/
.salesman_title{

width: 100%;
height: 40px;
line-height: 40px;
padding: 0 10px;
font-size: 14px;
font-weight: bold;
}
.salesman_title span{
    float: left;

    color: ff7800;
    margin-right: 14px;
}
.salesman_title span:nth-child(1),
.salesman-list li span:nth-child(1){

    text-align: center;
        width: 30%;
}
.salesman_title span:nth-child(2),
.salesman-list li span:nth-child(2){
    text-align: center;
      width: 68%;
}
.salesman_title span:nth-child(3),
.salesman-list li span:nth-child(3){
  text-align: center;
      /*width: 65px;*/

}
.salesman_title span:nth-child(4),
.salesman-list li span:nth-child(4){
    text-align: center;
        /*width: 65px;*/

}

/*表格滚动*/
.salesman_all_container{
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 190px;
  top: 0;
  right: 0;

  font-size: 12px;
}
.salesman-list{
  position:absolute;
  width:100%;
  left:0;
  top:0;

  margin:0;
  padding:0;
}

.salesman-list li {
  height:26px;
  line-height:26px;
  list-style:none;

}
.salesman-list li span {
    border: 1px #aaa solid;
  display:inline-block;
  font-size:16px;
    font-size: 12px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
/*tabs切换start*/
.am-tabs-nav li {
  position: relative;
  z-index: 1;
}

.am-tabs-nav .am-icon-close {
  position: absolute;
  top: 0;
  right: 10px;
  color: #888;
  cursor: pointer;
  z-index: 100;
}

.am-tabs-nav .am-icon-close:hover {
  color: #333;
}

.am-tabs-nav .am-icon-close ~ a {
  padding-right: 25px!important;
}
/*tabs切换end*/
.input_select{
  width: 40%;
}
.jiankong{
  margin: 0px;
  padding: 0px;
}
.jiyoujia{
  overflow: hidden;
}
.jiyoujia_title{
  font-size: 18px;
padding-left: 20px;
margin-bottom: 10px;
}
.jiyoujia_mianban>div{
  text-align: center;

}
.huoyue{
padding-left: 294px;
}
.top_img_all{
  width: 100%;
height: 30px;
margin-top: 20px!important;

}
.jingyinginfo{
    background: url('../img/jzajingying.png');
      background-repeat: no-repeat;
  background-size: contain;
  background-clip: content-box;
  background-position: center;

}
.xiaoshouinfo{
  background: url('../img/jzxiaoshou.png');
    background-repeat: no-repeat;
background-size: contain;
background-clip: content-box;
background-position: center;
}
.kucuninfo{
  background: url('../img/kucun.png');
    background-repeat: no-repeat;
background-size: contain;
background-clip: content-box;
background-position: center;
}
.kaoqininfo{
  background: url('../img/kaoqin.png');
    background-repeat: no-repeat;
background-size: contain;
background-clip: content-box;
background-position: center;
}
.gongzuoinfo{
  background: url('../img/gongzuo.png');
    background-repeat: no-repeat;
background-size: contain;
background-clip: content-box;
background-position: center;
}
.yangguanginfo{
  background: url('../img/yangguang.png');
    background-repeat: no-repeat;
background-size: contain;
background-clip: content-box;
background-position: center;
}
.shengchaninfo{
  background: url('../img/shengchan.png');
    background-repeat: no-repeat;
background-size: contain;
background-clip: content-box;
background-position: center;
}
.jiyoujiainfo{
  background: url('../img/jiyoujia.png');
    background-repeat: no-repeat;
background-size: contain;
background-clip: content-box;
background-position: center;
}
.am-datepicker,.am-datepicker-dropdown{
  background-color: rgba(12,27,69,.9)!important;
}
.am-popup,.am-popup-bd{
      background-color: rgba(12,27,69,.8)!important;
}
select{
      background-color: rgba(12,27,69,.8)!important;
      color: #fff;
}
.am-popup-hd {
border-bottom: 1px solid rgba(12,27,69,.8);
      background-color: rgba(12,27,69,.8)!important;
}
.am-nav-tabs>li.am-active>a, .am-nav-tabs>li.am-active>a:focus, .am-nav-tabs>li.am-active>a:hover{
  background-color: rgba(12,27,69,.8)!important;
}
input{
  color: #fff!important;
    background-color: rgba(12,27,69,.8)!important;
}
.am-panel,.am-panel-default{
    color: #09DFFF;
    border: 1px solid #09DFFF;
    background-color: rgba(12,27,69,.8)!important;
}
.jiyoujia_page_all{
  border-color: rgba(12,27,69,.8)!important;
}
.jiyoujia_page_all>.am-panel-hd{
      background-color: rgba(12,27,69,.8)!important;
      width: 88%;
      margin-left: 6%;
      font-size: 26px!important;
      height: 35px!important;
      line-height: 0px!important;
      color: #09DFFF!important;
}
.am-panel-bd{
  font-size: 22px;
}
.jiyoujia_page{
  margin-top: 10px;
}
.am-panel-hd{
  text-align: center;
  font-size: 20px;
  color: #09DFFF;
}
.am-tabs-bd{

color: #09DFFF;
}
.am-panel-default>.am-panel-hd{
  color: #122790;
  font-size: 18px;
  height: 36px;
  line-height: 20px;
  background-color: #09DFFF;
  border-color: #09DFFF;
}
table {
  margin-top: 30px;
  text-align: center;
  color:#09DFFF;


}
table th{
  text-align: center;

}
.am-input-group-btn button{
  background: #0e90d2;
  color: #fff;
}
.am-nav-tabs>li.am-active>a, .am-nav-tabs>li.am-active>a:focus, .am-nav-tabs>li.am-active>a:hover{
  color: #09DFFF;
}
.am-datepicker-prev-icon,.am-datepicker-next-icon{
  padding: 8px;
}
.iframe_info{
  width: 100%;
  height: 500px!important;
}
.jiankonglist{
    height: 500px!important;
}
/*#windowss_api,#windowss{
  width:100%!important;
   height:130px!important;
}*/
