.slide-title{

color: #fff;
height: 60px;
line-height: 60px;
padding: 0 10px;
font-size: 18px;
font-weight: bold;
}
.zpbtop>div{
  background: rgba(225,225,225,.1);
}
.zpbtop1{
  border-radius: 30px 0 0 0;
}
.zpbtop2{
  border-radius: 0 30px 0 0;
}
.zpbtop3{
      border-radius: 0 0 0 30px;
}
.zpbtop4{
  border-radius: 0 0 30px 0;
}
.zpbtop5{
  margin-top: 20px;
  border-radius: 30px;
}
.zpbtop6{

  border-radius:30px;
}
.zpbtop7{
    margin-top: 20px;
  border-radius:  30px 0 0 30px;
}
.zpbtop8{
    margin-top: 20px;
    border-radius: 0 30px 30px 0;
}

.slide-title span{
    float: left;
    margin-right: 14px;
}
.slide-title span:nth-child(1),
.slide-list li span:nth-child(1){
    width: 60px;
}
.slide-title span:nth-child(2),
.slide-list li span:nth-child(2){
    width: 90px;
}
.slide-title span:nth-child(3),
.slide-list li span:nth-child(3){
    width: 90px;
    margin-right: 0px;
}

.slide-container{
  position: relative;
      overflow: hidden;
      height: 359px;
      top: 0;
      right: 0;
      color: #fff;
}
.slide-list{
  position:absolute;
  width:100%;
  left:0;
  top:0;
  color: #fff;
   margin:0;
    padding:0;
}
.slide-list li {
  height:50px;
  line-height:50px;
  list-style:none;
   margin:0;
   padding:0 10px;
}
.slide-list li span {
  display:inline-block;
  margin-right:14px;
  font-size:16px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
 .slide-list li.odd{
    background: rgba(51,79,109,.3);
}
.slide-list li.even{
    background: rgba(51,79,109,.1);
}
/*左边头部*/
.jz_left_top{
  width: 100%;
  height: 150px;
  background: rgba(2,31, 52, 0.5);
}
.jz_right_top{
  width: 100%;
  height: 200px;
}
.jz_left_top2{
  width: 100%;
  height: 300px;
}
.jz_left_top3{
  width: 100%;
  height: 500px;
}
h1{
  color: #fff;
}
