.slide-title{
    background: rgba(0,0,0,.5);
    color: #fff;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
}
.slide-title span{
    float: left;
    margin-right: 14px;
}
.slide-title span:nth-child(1),
.slide-list li span:nth-child(1){
    width: 60px;
}
.slide-title span:nth-child(2),
.slide-list li span:nth-child(2){
    width: 90px;
}
.slide-title span:nth-child(3),
.slide-list li span:nth-child(3){
    width: 90px;
    margin-right: 0px;
}

.slide-container{
  position: relative;
  overflow: hidden;
   height: 90px;
   top:0;
   right:0;
     color: #fff;
}
.slide-list{
  position:absolute;
  width:100%;
  left:0;
  top:0;
  color: #fff;
   margin:0;
    padding:0;
}
.slide-list li {
  height:30px;
  line-height:30px;
  list-style:none;
   margin:0;
   padding:0 10px;
}
.slide-list li span {
  display:inline-block;
  margin-right:14px;
  font-size:12px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
 .slide-list li.odd{
    background: rgba(51,79,109,.3);
}
.slide-list li.even{
    background: rgba(51,79,109,.1);
}
/*左边头部*/
.jz_left_top{
  width: 100%;
  height: 150px;
}
.jz_right_top{
  width: 100%;
  height: 200px;
}
.jz_left_top2{
  width: 100%;
  height: 300px;
}
.jz_left_top3{
  width: 100%;
  height: 500px;
}
h1{
  color: #fff;
}
